@model Post;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .thumb img {
        width: 30px;
        height: 30px;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" 
integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/indexpages.css" />
<center>
    <div class="col-8">
        <div>
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Model.ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <div class="thumb" style="text-align:left">
                        <img class="img-fluid col-1 " src="@Model.account.ProfilImgURL">
                        <a asp-controller="Profile" asp-action="Details" asp-route-id="@Model.account.Id">@Model.account.ScreenName</a>
                    </div>
                    
                    <p class="card-text" style="text-align:left">@Model.Caption</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"> <i class="far fa-heart"></i>  </button>
                        </div>
                        <small align="right">@Model.Likes.Count() Likes   |    0 Comments</small>                    
                    </div>
                    <form method="post" asp-action="Delete" enctype="multipart/form-data">
                            <input type="hidden" value="@Model.Id" asp-for="Id" />
                            <input type="hidden" value="@Model.AccountId" asp-for="AccountId" />
                            <input type="hidden" value="@Model.ImgUrl" asp-for="ImgUrl" />
                            <input type="hidden" value="@Model.Caption" asp-for="Caption" />
                            <button type="submit" class="text-alert btn btn-sm btn-outline-secondary" >
                                <i class="far fa-trash-alt"></i>
                            </button>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h2 align="left">Comments:</h2>
            <br />
            <form>
                <div align="left" class="form-group">
                    <label for="CommentBox">Comment</label>
                    <input type="text" class="form-control" id="CommentBox" placeholder="Leave a comment..."/>
                    
                </div>
                <div align="right" style="padding-top:10px; padding-bottom:10px;" class="form-group">
                    <button class="btn btn-primary" type="submit"> Comment</button>
                </div>
            </form>
            <div class="col-md-12 col-lg-12">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">            
                        <d class="row d-flex justify-content-center">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <p>Type your note, and hit enter to add it</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                                height="25" />
                                            <p class="small mb-0 ms-2">Martha</p>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="small text-muted mb-0">Upvote?</p>
                                            <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                            <p class="small text-muted mb-0">3</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </d>
                    </div>
                </div>   
            </div>
        </div>    
    </div>
</center>